# Môi trường ảo
venv/
env/
*.pyc
__pycache__/

# Dữ liệu lớn (nếu có)

Data Science from Scratch- First Principles with Python.pdf

# Notebook checkpoints
.ipynb_checkpoints/



# Kết quả tạm/lớn
results/trained_models/*.pkl
results/trained_models/*.joblib

# Hệ điều hành
.DS_Store
Thumbs.db